@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #C9E7FA;
}

h1 {
    font-size: 1.5rem;
}

.content {
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    border-radius: .3rem;
    padding: 2rem;
    margin-bottom: 5rem;
    background-color: #FAFBFB;
}

.input-box {
    margin: 1rem;
    display: flex;
}

.input-box label {
    font-weight: 600;
}

.input-box input {
    border: 1px solid #333333;
    margin-left: .5rem;
    border-radius: .2rem;
    padding: .3rem;
    font-size: 1rem;
}
#estatura {
    max-width: 6rem;
}

#edad {
    max-width: 3rem;
}

#peso {
    max-width: 3rem;
}

.btn {
    border-radius: .2rem;
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    padding: .3rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1rem;
    background-color: #497996;
    color:#ffffff;
}

#container {
    box-shadow: 0 0 5px rgba(0,0,0, .9);
    border-radius: .3rem;
    padding: 2rem;
    min-width: 30rem;
    min-height: 10rem;
    display: none;
    background-color: #FAFBFB;
}

#resultado {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .container {
        min-width: auto;
    }
    .content {
        padding: 1rem auto;
        margin: auto;
    }
}

@media (max-width: 400px) {
    .container {
        text-align: center;
        min-width: auto;
        min-height: auto;
        padding: auto;
        margin: 1rem;
    }
    .content {
        box-shadow: none;
        text-align: center;
    }

    .input-box {
        margin: 1rem auto;
    }
}